<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mainAC">
            <h2><span>Main AC</span> {{mainAC.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account Name</span></dt>
                <dd>
                    <span>{{mainAC.accountName}}</span>
                </dd>
                <dt><span>General AC</span></dt>
                <dd>
                    <div *ngIf="mainAC.generalAC">
                        <a [routerLink]="['/general-ac', mainAC.generalAC?.id, 'view']">{{mainAC.generalAC?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/main-ac', mainAC.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
