<div>
    <h2 id="page-heading">
        <span>Account Catagories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-account-catagory" [routerLink]="['/account-catagory/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Account Catagory
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="accountCatagories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Account Type</span></th>
            <th><span>Account User</span></th>
            <th><span>Owneraccount</span></th>
            <th><span>Vendoraccount</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accountCatagory of accountCatagories ;trackBy: trackId">
                <td><a [routerLink]="['/account-catagory', accountCatagory.id, 'view' ]">{{accountCatagory.id}}</a></td>
                <td>{{accountCatagory.accountType}}</td>
                <td>{{accountCatagory.accountUser}}</td>
                <td>
                    <div *ngIf="accountCatagory.owneraccount">
                        <a [routerLink]="['../owner-account', accountCatagory.owneraccount?.id, 'view' ]" >{{accountCatagory.owneraccount?.accounttype}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="accountCatagory.vendoraccount">
                        <a [routerLink]="['../vendor-account', accountCatagory.vendoraccount?.id, 'view' ]" >{{accountCatagory.vendoraccount?.accounttype}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/account-catagory', accountCatagory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/account-catagory', accountCatagory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'account-catagory/'+ accountCatagory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
