<div>
    <h2 id="page-heading">
        <span>General ACS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-general-ac" [routerLink]="['/general-ac/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new General AC
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="generalACS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Account Name</span></th>
            <th><span>Account Type</span></th>
            <th><span>Transction Type</span></th>
            <th><span>Prime AC</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let generalAC of generalACS ;trackBy: trackId">
                <td><a [routerLink]="['/general-ac', generalAC.id, 'view' ]">{{generalAC.id}}</a></td>
                <td>{{generalAC.accountName}}</td>
                <td>{{generalAC.accountType}}</td>
                <td>{{generalAC.transctionType}}</td>
                <td>
                    <div *ngIf="generalAC.primeAC">
                        <a [routerLink]="['../prime-ac', generalAC.primeAC?.id, 'view' ]" >{{generalAC.primeAC?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/general-ac', generalAC.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/general-ac', generalAC.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'general-ac/'+ generalAC.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
