<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="generalAC">
            <h2><span>General AC</span> {{generalAC.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account Name</span></dt>
                <dd>
                    <span>{{generalAC.accountName}}</span>
                </dd>
                <dt><span>Account Type</span></dt>
                <dd>
                    <span>{{generalAC.accountType}}</span>
                </dd>
                <dt><span>Transction Type</span></dt>
                <dd>
                    <span>{{generalAC.transctionType}}</span>
                </dd>
                <dt><span>Prime AC</span></dt>
                <dd>
                    <div *ngIf="generalAC.primeAC">
                        <a [routerLink]="['/prime-ac', generalAC.primeAC?.id, 'view']">{{generalAC.primeAC?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/general-ac', generalAC.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
